body {    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #333; }

.link {
    stroke: #999;
    stroke-width: 1px;  }

.link-active {
    stroke: #fff;
    stroke-width: 2.5px; }

.flag {
    transition: transform 500ms ease-out 0ms;
	position: absolute; }

.flags {
    position: absolute; }

.country-label { 
    padding: 15px 5px 5px 50px; }

.main {
    background-color: black;
    color: white;
}
